<template>
  <article v-if="chapter" :id="chapter.id" ref="root">
    <h2 v-html="chapter.title"></h2>
    <div v-html="chapter.text"></div>

    <div class="d-flex justify-content-end">
      <router-link v-if="next" :to="{ name: 'chapter', params: { id: next.id } }"
                   class="btn btn-primary">
        Weiter
      </router-link>
      <router-link v-else :to="{ name: 'quiz' }"
                   class="btn btn-primary">
        Zum Quiz
      </router-link>
    </div>
  </article>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref, toRefs, watch} from "vue";
import {Chapter, useChapters} from "@/contents";

export default defineComponent({
  name: 'ChapterView',
  props: {
    id: {
      type: String
    }
  },
  setup(props) {
    const {id} = toRefs(props);
    const chapters = useChapters();
    const chapter = ref<Chapter | undefined>();
    const next = ref<Chapter | undefined>();

    function updateChapter(nextId: string | undefined) {
      chapter.value = chapters.find(c => c.id === nextId);
      next.value = chapter.value?.next;
    }

    updateChapter(id.value);
    watch(id, updateChapter);

    const root = ref<HTMLElement | null>(null);

    function scrollIntoView() {
      console.log("scroll into view: ", root.value);
      setTimeout(() => {
        root.value?.scrollIntoView({
          behavior: "smooth"
        });
      }, 300);
    }

    watch(chapter, scrollIntoView);
    onMounted(scrollIntoView);

    return {root, chapter, next};
  }
});
</script>
