<template>
  <h2 ref="root">Quiz</h2>
  <form @submit.prevent="processForm">
    <div v-for="(question, qi) of questions" :key="qi" class="card my-4">
      <div class="card-header"
           :class="{ 'text-danger': evaluated && !question.wasAnsweredCorrectly, 'text-success': evaluated && question.wasAnsweredCorrectly }"
           v-text="question.text"></div>
      <ul class="list-group list-group-flush">
        <li v-for="(answer, ai) of question.answers" :key="qi + '.' + ai" class="list-group-item">
          <div class="form-check">
            <!--suppress EqualityComparisonWithCoercionJS -->
            <input class="form-check-input"
                   type="checkbox"
                   :value="qi + '.' + ai"
                   :id="qi + '.' + ai"
                   v-model="answer.checked"
                   :disabled="evaluated"
                   :class="{ 'is-invalid': evaluated && (answer.checked != answer.isCorrectAnswer) }">
            <label class="form-check-label opacity-100" :for="qi + '.' + ai">{{ answer.text }}</label>
          </div>
        </li>
      </ul>
    </div>

    <button v-if="!evaluated" type="submit" class="btn btn-primary">Auflösen</button>

    <div v-else>
      <div class="alert alert-secondary">Du hast {{ points }} von {{ total }} Punkten erreicht!</div>

      <div v-if="percentage === 1" class="lead alert alert-success" ref="result">
        😎 Du hast alle Fragen korrekt beantwortet. Das ist grandios!
      </div>
      <div v-else-if="percentage >= .9" class="lead alert alert-success" ref="result">
        🤓 Du hast fast alle Fragen korrekt beantwortet. Noch ein bisschen mehr Übung und du hast es geschafft!
      </div>
      <div v-else-if="percentage >= .8" class="lead alert alert-info" ref="result">
        🤗 Du hast die meisten Fragen korrekt beantwortet. Es fehlt nicht mehr viel, halt dich ran!
      </div>
      <div v-else-if="percentage >= .5" class="lead alert alert-warning" ref="result">
        🤨 Du hast nur etwas mehr als die Hälfte der Punkte erreicht. Das ist zwar <em>ausreichend</em>, aber auch nicht
        wirklich gut!
      </div>
      <div v-else class="lead alert alert-danger" ref="result">
        😶 Du hast weniger als die Hälfte der Punkte erreicht. Am besten fängst du noch mal ganz von vorne an, Übung
        macht den Meister!
      </div>
    </div>
  </form>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref} from "vue";

interface Answer {
  text: string;
  checked: boolean;
  isCorrectAnswer?: boolean;
}

interface Question {
  text: string;
  wasAnsweredCorrectly: boolean;
  answers: Answer[];
}

export default defineComponent({
  name: 'QuizView',
  setup() {
    function shuffle<T>(a: T[]): T[] {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
    }

    const questions: Question[] = [
      {
        text: "Bennen sie die Komponenten in welche das Nervensystem untergliedert wird:",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Zentrales Nervensystem (ZNS) und peripheres Nervensystem",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Zentrales Nervensystem (ZNS) und Sympathikus",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Somatische Nervensystem und enerisches Nervensystem",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Bennen sie die Komponenten in welche das Vegetative Nervensystem untergliedert wird:",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Sympathikus, Parasympathikus und enerisches Nervensystem",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Zentrales Nervensystem (ZNS) und peripheres Nervensystem",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Somatisches, vegetatives und Autonomes Nervensystem",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Ligandengesteuerte Ionenkanäle öffnen und schließen sich durch welche Stoffe?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Neurotransmitter",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Calcium",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "ATP",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Welches Enzym synthetisiert den Neurotransmitter Acetylcholin?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Cholinacetyltransferase",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Ligase",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Cholinesterase",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Durch das Einströmen von Calcium (Ca2+) in das Endknöpfchen werden Vesikel womit gefüllt und wohin freigegeben?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Vesikel, welche mit den Neurotransmittern Acetylcholin gefüllt sind, verschmelzen mit der präsynaptischen Membran. Die Transmitter werden in den synaptischen Spalt ausgeschüttet.",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Vesikel, welche mit Calcium gefüllt sind, verschmelzen mit der präsynaptischen Membran. Die Transmitter werden in den synaptischen Spalt ausgeschüttet.",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Vesikel, welche mit den Neurotransmittern Acetylcholin gefüllt sind, verschmelzen mit der präsynaptischen Membran. Dort werden sie fest in der Membran verankert und dienen als neue Ionenkanäle.",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Welche Klasse der Analgetika wirkt neben schmerzlindernd und fiebersenkend auch entzündungshemmend?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "saure Nicht-Opioid-Analgetika (NSAP)",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "nichtsaures Nicht-Opioid-Analgetikum",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Opioide",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Unter welche gesetzliche Verordnung falle Opioide?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Gesetzliche Betäubungsmittel-Verschreibungsverordnung – BtMVV",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "GWB-Digitalisierungsgesetz",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Krankenhauszukunftsgesetz (KHZG)",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "In welche Gruppen sind die Liganden von Opioiden.",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Endogenen Opioiden, exogenen Opioiden",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "μ-Opioidrezeptor Opioide, κ-Opioidrezeptor Opioide",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Opioidrezeptor-Agonisten, Opioidrezeptor-Antagonisten",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Nennen Sie die 3 Typen von Opioidrezeptoren.",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "μ-Opioidrezeptor (MOR), κ-Opioidrezeptor (KOR), δ-Opioidrezeptor (DOR)",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "ɳ- Opioidrezeptor, Ɛ- Opioidrezeptor, ʎ- Opioidrezeptor",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "α- Opioidrezeptor, β- Opioidrezeptor, σ- Opioidrezeptor",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Welcher Rezeptortyp hat die größte analgetische Wirkung?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "μ-Opioidrezeptor",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "κ-Opioidrezeptor",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "δ-Opioidrezeptor",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Nennen Sie 2 gewünschte und 2 unerwünschte Wirkungen von Opioiden.",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "analgetische Wirkung, Sedierung - Übelkeit, Erbrechen",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Miosis, Toleranzentwicklung – Sedierung, Übelkeit",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "analgetische Wirkung, Miosis – Atemdepression, Toleranzentwicklung",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Nennen Sie die vier Hauptsymptome der Parkinson-Krankheit",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Bradykinese, Rigor, Tremor und posturale Instabilität.",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Atemdepression, posturale Instabilität, Übelkeit",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Bradykinese, Rigor, Atemdepression, Miosis",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Menschen mit dieser Erkrankung werden unterschiedlichen Gruppen zugeordnet, nennen sie die Kriterien, nach welchen diese eingeordnet werden.",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Erkrankungsalter, Verlaufsform und Krankheitsphase.",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Geschlecht, Erkrankungsalter, Vorerkrankungen",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Verlaufsform, Geschlecht, Erkrankungsalter",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Bei welcher Behandlungsform ist der Degenerationszustand der präsynaptischen Neurone nicht relevant?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Bei der Behandlung mit Dopaminrezeptor-Agonisten",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "Bei der Behandlung mit L-Dopa",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "Bei der Behandlung mit MAO-B-Hemmstoffen",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
      {
        text: "Welche Therapieform wird in der heutigen Medizin nicht mehr eingesetzt und warum?",
        wasAnsweredCorrectly: false,
        answers: shuffle([
          {
            text: "Anticholinergika werden in der heutigen Medizin nicht mehr verwendet, da sie deutliche klassische anticholinerge Nebenwirkungen aufweisen.",
            checked: false,
            isCorrectAnswer: true,
          },
          {
            text: "L-Dopa werden in der heutigen Medizin nicht mehr verwendet, da sie nach zu geringer Zeit keine Wirkung mehr zeigt",
            checked: false,
            isCorrectAnswer: false,
          },
          {
            text: "MAO-B-Hemmer werden in der heutigen Medizin nicht mehr verwendet, da sie bei zu hoher Dosierung auch die MAO-A hemmen",
            checked: false,
            isCorrectAnswer: false,
          }
        ])
      },
    ];

    const evaluated = ref<boolean>(false);
    const points = ref<number>(0);
    const total = ref<number>(questions.length);
    const percentage = ref<number>(0);

    const root = ref<HTMLElement | null>(null);
    const result = ref<HTMLElement | null>(null);

    function processForm() {
      evaluated.value = true;

      points.value = questions.map<number>(question => {
        question.wasAnsweredCorrectly = question.answers.map<boolean>(answer => {
          return answer.isCorrectAnswer == answer.checked;
        }).reduce((a, b) => {
          return a && b;
        });

        return question.wasAnsweredCorrectly ? 1 : 0;
      }).reduce((a, b) => {
        return a + b;
      });

      percentage.value = points.value / total.value;

      setTimeout(() => {
        result.value?.scrollIntoView({
          behavior: "smooth"
        });
      }, 100);
    }

    function scrollIntoView() {
      console.log("scroll into view: ", root.value);
      setTimeout(() => {
        root.value?.scrollIntoView({
          behavior: "smooth"
        });
      }, 100);
    }

    onMounted(scrollIntoView);

    return {questions, evaluated, points, total, percentage, processForm, root, result};
  }
});
</script>
