<template>
  <h1>Pharmakologie des Zentralen Nervensystems</h1>

  <p class="lead">Studienarbeit von Janine Jörg und Bianka Göke.</p>

  <p>
    Kapitelübersicht:
  </p>
  <ul>
    <li>
      Überblick
      <ul>
        <li>somatisches Nervensystem</li>
        <li>peripheres Nervensystem</li>
      </ul>
    </li>
    <li>
      Schmerzen
      <ul>
        <li>starke Schmerzen</li>
        <li>allgemeine Wirkung Opioide</li>
        <li>Einteilung Opioide</li>
        <li>Liganden der Opioidrezeptoren</li>
        <li>Wirkung Opioiden</li>
      </ul>
    </li>
    <li>
      Praxisbeispiel Parkinson
      <ul>
        <li>Grundlagen Parkinson</li>
        <li>Gruppen Parkinson</li>
        <li>allgemeiner Therapieansatz</li>
        <li>L-Dopa</li>
        <li>Dopaminrezeptor-Agonisten</li>
        <li>Wirkung Dopaminrezeptor-Agonisten</li>
        <li>NMDA-Rezeptor-Antagonisten</li>
        <li>Wirkungen NMDA-Rezeptor-Antagonisten</li>
        <li>MAO-B-Hemmer</li>
        <li>Wirkungen MAO-B-Hemmer</li>
        <li>COMT-Hemmer</li>
        <li>Wirkungen COMT-Hemmer</li>
        <li>Anticholinergika</li>
        <li>Wirkung Anticholinergika</li>
      </ul>
    </li>
  </ul>

  <div class="d-flex justify-content-end">
    <button @click="next" class="btn btn-primary">
      Beginnen
    </button>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {useRouter} from "vue-router";
import {useChapters} from "@/contents";

export default defineComponent({
  name: 'StartView',
  setup() {
    const chapters = useChapters();
    const router = useRouter();

    function next() {
      const c = chapters[0];
      router.push({
        name: 'chapter',
        params: {id: c.id}
      });
    }

    return {next};
  }
});
</script>
