<template>
  <nav class="navbar navb_ar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <router-link :to="{ name: 'start' }" class="navbar-brand">Pharmakologie des Zentralen Nervensystems</router-link>
      <button class="navbar-toggler" :class="{ 'active': navbarOpen }" type="button" @click="navbarOpen = !navbarOpen">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" :class="{ 'collapse': !navbarOpen }">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" @click="navbarOpen = !navbarOpen">
          <li class="nav-item">
            <router-link :to="{ name: 'start' }" class="nav-link" active-class="active">Start</router-link>
          </li>
          <li v-for="c of chapters" :key="c.id" class="nav-item border-top">
            <router-link
                :to="{ name: 'chapter', params: { id: c.id } }"
                class="nav-link"
                active-class="active"
                v-text="c.title"
            ></router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name: 'quiz' }" class="nav-link" active-class="active">Quiz</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container-xl p-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7">
        <router-view/>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue';
import {useChapters} from "@/contents";

export default defineComponent({
  name: 'App',
  setup() {
    const chapters = useChapters();
    const navbarOpen = ref<boolean>(false);

    return {chapters, navbarOpen};
  }
});
</script>
