@import "~bootstrap/scss/bootstrap";

.navbar-brand {
  max-width: calc(100vw - 130px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-link:not(.active) {
  color: $secondary;
}
